<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.mybatisext.test.mapper.UserMapper">

	<!-- 通用查询结果列 -->
	<sql id="Base_Column_List">
		id, name, age
	</sql>


	<select id="selectByName" resultType="user">
		SELECT
		<include refid="Base_Column_List" />
		FROM t_user WHERE name=#{name}
	</select>

	<select id="selectByNamePaging" resultType="user">
		SELECT
		<include refid="Base_Column_List" />
		FROM t_user WHERE name=#{name}
	</select>
</mapper>